table
{
  border-collapse: collapse;
  width: 100%;
}

th,td
{
  padding: 9px;
  text-align: center;
  border: 2px solid #ddd;
}
td.x{
	padding: 8px;
  text-align: justify;
  border: 2px solid #ddd;
}
tr:hover 
{
	color: white;
	background-color:#2c3e50;
}